@charset "UTF-8";
/* CSS Document */

table {
	width: 940px;
	padding: 10px;
	margin: 10px;
	border:  1px solid #000;
}

th {
	background-color: #E6E6E6;
	border:  1px solid #000;
	padding: 3px;
	text-align:left;
}

td {
	padding: 3px;
	border:  1px solid #000;
	background-color:#FFFFFF;		
}

  label {
    display: inline-block;

  }
  .float_left {float:left;}
  .inline {display:inline; padding-right:5px}