/*********************************/
/*   last modified:      */
/*********************************/

/*common to all */
body {
	background-color:#4E5869;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:0;
	margin:0;
	text-align:center;
}
div {padding:0; margin:0;}

.container_12 {max-width:1080px; background-color:#fff; margin-left:10px; margin-right:10px; padding:0; margin: 0 auto;}

/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	background-color: #06406E;
	color: #fff;
	text-align:center;
}


.standard {
	clear: both;
	width: 1040px;
	margin: auto;
	margin-top: 5px;
	padding-top: 0;
	text-align: left;
	background-color: #FFF;
	border: solid;
	border-width: 1px;
	border-color: #666;
	border-bottom-width: 3px;
	border-right-width: 3px;
	box-shadow: 3px 3px 10px #666;
	position: relative;
}

/************
 containers and sections 
 ***********/
 
.float-right {float:right;}  
.float-left {float:left;} 
.clear {clear:both;}


/************
USED IN CSC FORMS THAT LARRY CREATED

HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly.***********/ 
header, section, footer, aside, article, figure {
	display:block;
	float: left;
	padding: 5px;
	width: 99%;
	margin:auto;
	height: auto;
}

section {
	background-color: #fff;
}

.error {
	color: red;
}

/* ~~ The footer ~~ */
.footer { 
	padding-top: 5px;
	background:#FC6;
	text-align:center;
	border:ridge;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/**********
 text and box alignment 
 ************/
.centered {text-align:center; margin-left:auto; margin-right:auto;}
.right {text-align:right}
.left {text-align:left}
.margin_right {margin-right:10px;}
.margin_left {margin-left:10px;}
.bottom {vertical-align:bottom}
.middle {vertical-align:middle}
.top {vertical-align:top}

/* rounded shadowed boxes  not being used at this time */
.rounded {border-radius: 10px; box-shadow: 3px 3px 10px #666;}

/*******
LINKS
*********/
/* common to all links */
a:link {color:#fff;}
a:visited {color:#ccc;}
a:hover{color:#ccc;}
a:active {color:#ccc;}
a:link img {border:hidden; border-width:0px;}
a:visited img {border:hidden; border-width:0px;}
img {border:none}
img map {border:none}

/**********
 COMMON TEXT STYLES
 **********/
/* general text styles */
h1, h2, h3, h4, h5, h6 {font-family:Georgia, "Times New Roman", Times, serif;}
h1 {font-size: 1.5em; color:#CC3333;} 
h2 {font-size: 1.3em; color:#CC3333;} 
h3 {font-size: 1em; font-weight:bold; margin:.5em .5em 0 0;} 
h4 {font-size: 1em; font-weight:bold; color:#000;} 
h5 {font-size: .9em; font-variant:small-caps;  color:#000;} 
h6 {font-size: .9em; font-style:italic; color:#000; margin:0;} 
p {color:#000;}
.tall {font-size:1.1em; font-stretch:condensed;}

/***********
COMMON LIST STYLES
************/
ul {
	padding-left:10px;
	margin:10px;
}
ol {
	padding-left:10px;
	margin:10px;
}



/* ****** used throughout ********/
.white {color:#FFFFFF;}
.red {color:#CC3333;}
.blue {color:#003366;}
.black {color:#000000;}
.gray {color:#666666;}
.bold {font-weight:bold;}
.italic {font-style:italic;}



/* used throough out */
.bg-bdr {background-color:#516b8c; border:1px solid #959fab; border-bottom-width:3px; border-right-width:3px; padding:3px; box-shadow: 3px 3px 10px #666;}
.bg-bdr div {margin-bottom:10px;}

.small {font-size:11px;}


table {
	width: 98%;
	padding: 10px;
	margin: 10px;
	border:  1px solid #000;
}

th {
	background-color: #E6E6E6;
	border:  1px solid #000;
	padding: 3px;
	text-align:left;
}

td {
	padding: 3px;
	border:  1px solid #000;
	background-color:#FFFFFF;		
}

  label {
    display: inline-block;

  }
  .float_left {float:left;}
  .inline {display:inline; padding-right:5px}

/*----------------------------
    The Demo Footer
-----------------------------*/


.footer{
    background-color: #000000;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}



.menu {
        margin:0;
        padding:0;
		padding-top: 10px;
		font-size:18px;
		text-align:center;
		color: #fff;
		background-color: #000;
		height: 40px;
}

li {
		display:inline;
}
