/*********************************/
/*   NMC common styles           */
/*   last modified:      */
/*********************************/

/*common to all */
body {
	background-color:#4E5869;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:0;
	margin:0;
	text-align:center;
}
div {padding:0; margin:0;}

.standard {clear:both; width:960px; margin:auto; margin-top: 5px; padding-top:0; text-align:left; background-color:#FFF; border:solid; border-width:1px; border-color:#666; border-bottom-width:3px; border-right-width:3px; box-shadow: 3px 3px 10px #666; position:relative;}

/************
 containers and sections 
 ***********/
.container_12 {width:940px; margin-left:10px; margin-right:10px; padding:0; margin: 0 auto;}
/* .grid_6 {width:50%; float:left;}*/
.grid_5 {width:643px; float:left;}
.grid_4 {width:286px; float:left; margin:0 10px 0 0}
/* .grid_3 {width:24%; float:left; margin-right:10px}*/
.grid_2 {width:147px; float:left; margin-right:10px}
/* .grid_1 {width:32%; float:left; margin-right:10px}*/

.float-right {float:right;}  
.float-left {float:left;} 
.clear {clear:both;}


/************
USED IN CSC FORMS THAT LARRY CREATED

HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly.***********/ 
header, section, footer, aside, article, figure {
	display:block;
	float: left;
	padding: 5px;
	width: 99%;
	margin:auto;
	height: auto;
}

section {
	background-color: #fff;
}

.error {
	color: red;
}

/* ~~ The footer ~~ */
.footer { 
	padding-top: 5px;
	background:#FC6;
	text-align:center;
	border:ridge;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/**********
 text and box alignment 
 ************/
.centered {text-align:center; margin-left:auto; margin-right:auto;}
.right {text-align:right}
.left {text-align:left}
.margin_right {margin-right:10px;}
.margin_left {margin-left:10px;}
.bottom {vertical-align:bottom}
.middle {vertical-align:middle}
.top {vertical-align:top}

/* rounded shadowed boxes  not being used at this time */
.rounded {border-radius: 10px; box-shadow: 3px 3px 10px #666;}

/*******
LINKS
*********/
/* common to all links */
a:link {color:#fff;}
a:visited {color:#ccc;}
a:hover{color:#ccc;}
a:active {color:#ccc;}
a:link img {border:hidden; border-width:0px;}
a:visited img {border:hidden; border-width:0px;}
img {border:none}
img map {border:none}

/**********
 COMMON TEXT STYLES
 **********/
/* general text styles */
h1, h2, h3, h4, h5, h6 {font-family:Georgia, "Times New Roman", Times, serif;}
h1 {font-size: 1.5em; color:#CC3333;} 
h2 {font-size: 1.3em; color:#CC3333;} 
h3 {font-size: 1em; font-weight:bold; margin:.5em .5em 0 0;} 
h4 {font-size: 1em; font-weight:bold; color:#000;} 
h5 {font-size: .9em; font-variant:small-caps;  color:#000;} 
h6 {font-size: .9em; font-style:italic; color:#000; margin:0;} 
p {color:#000;}
.tall {font-size:1.1em; font-stretch:condensed;}

/***********
COMMON LIST STYLES
************/
ul {
	padding-left:10px;
	margin:10px;
}
ol {
	padding-left:10px;
	margin:10px;
}



/* ****** used throughout ********/
.white {color:#FFFFFF;}
.red {color:#CC3333;}
.blue {color:#003366;}
.black {color:#000000;}
.gray {color:#666666;}
.bold {font-weight:bold;}
.italic {font-style:italic;}



/* used throough out */
.bg-bdr {background-color:#516b8c; border:1px solid #959fab; border-bottom-width:3px; border-right-width:3px; padding:3px; box-shadow: 3px 3px 10px #666;}
.bg-bdr div {margin-bottom:10px;}

.small {font-size:11px;}

.hidden, .form-info {position: absolute; left: 0px; top: -500px; width: 1px; height: 1px; overflow: hidden; }

/* commented out for now not supported by all browsers
.box {border:1px solid; margin:.5em; background-color:#036; opacity: 0.6; filter:alpha (opacity=60); width:90%;}
a.new_alert {target: new front;}*/


table {
	width: 98%;
	max-width:950px;
	padding: 10px;
	margin: 10px;
	border:  1px solid #000;
}

th {
	background-color: #E6E6E6;
	border:  1px solid #000;
	padding: 3px;
	text-align:left;
}

td {
	padding: 3px;
	border:  1px solid #000;
	background-color:#FFFFFF;		
}

  label {
    display: inline-block;

  }
  .float_left {float:left;}
  .inline {display:inline; padding-right:5px}
  
 


/*----------------------------
    The Demo Footer
-----------------------------*/


.footer{
    background-color: #000000;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}


.container {
	;
	max-width: 1060px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	background-color: #06406E;
	color: #fff;
	text-align:center;
	src:
}

.menu {
        margin:0;
        padding:0;
		padding-top: 10px;
		font-size:18px;
		text-align:center;
		color: #fff;
		background-color: #000;
		height: 44px;
}

li {
		display:inline;
}


/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/

.content {
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}
